name: ITI
services:
    mariadb:
        container_name: mariadb
        networks:
            - megsi-net
        ports:
            - 3306:3306
        environment:
            - MARIADB_ROOT_PASSWORD=uminho
        image: mariadb:latest

    kafka:
        container_name: kafka
        networks:
            - megsi-net
        ports:
            - 9092:9092
        environment:
            - KAFKA_PROCESS_ROLES=broker,controller
            - KAFKA_NODE_ID=1
            - KAFKA_CLUSTER_ID=5L6g3nShT-eMCtK--X86sw
            - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
            - KAFKA_LISTENERS=PLAINTEXT://:9092,INTERNAL://:29092,CONTROLLER://:9093
            - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092,INTERNAL://kafka:29092
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
            - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
            - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
        image: apache/kafka:latest

networks:
    megsi-net:
        external: true
        name: megsi-net